{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Play&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Play|Comfortaa|Jura:500&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
</head>
<body>
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}"><a
                            href="{% url 'index' %}">Главная</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Категории<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'categories' cat_name='guitars' %}">Гитары</a></li>
                            <li><a href="{% url 'categories' cat_name='keyboards' %}">Клавишные инструменты</a></li>
                            <li><a href="{% url 'categories' cat_name='drums' %}">Ударные инструменты</a></li>
                            <li><a href="{% url 'categories' cat_name='wind' %}">Духовые инструменты</a></li>
                            <li><a href="{% url 'categories' cat_name='string' %}">Струнные инструменты</a></li>
                        </ul>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'contacts' %}active{% endif %}"><a
                            href="/shop/contacts/">Контакты</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if username %}
                        <li class="{% if request.resolver_match.url_name == 'cart' %}active{% endif %}"><a
                                href="/shop/cart/">Корзина</a></li>
                        <li class="{% if request.resolver_match.url_name == 'orders' %}active{% endif %}"><a
                                href="/shop/orders/">Заказы</a></li>
                        <li><a href="/auth/logout/">Выйти: {{ username }}</a></li>
                    {% else %}
                        <li><a href="/auth/login/">Войти</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% block content %}{% endblock %}

<div class="footer-top-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Навигация</h2>
                    <ul>
                        <li><a href="/shop/cart/">Корзина</a></li>
                        <li><a href="/shop/orders/">Заказы</a></li>
                        <li><a href="/">Домашняя страница</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Категории</h2>
                    <ul>
                        <li><a href="{% url 'categories' cat_name='guitars' %}">Гитары</a></li>
                        <li><a href="{% url 'categories' cat_name='keyboards' %}">Клавишные инструменты</a></li>
                        <li><a href="{% url 'categories' cat_name='drums' %}">Ударные инструменты</a></li>
                        <li><a href="{% url 'categories' cat_name='wind' %}">Духовые инструменты</a></li>
                        <li><a href="{% url 'categories' cat_name='string' %}">Струнные инструменты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End footer top area -->

<script src="https://code.jquery.com/jquery.min.js"></script>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="{% static 'js/jquery.sticky.js' %}"></script>

<script src="{% static 'js/jquery.easing.1.3.min.js' %}"></script>

<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/bxslider.min.js' %}"></script>
<script src="{% static 'js/script.slider.js' %}"></script>
</body>
</html>