{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Контакты</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="maincontent-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title">Как нас найти</h2>

                    <div class="contacts">
                        САРАТОВ
                        8 (800) 777-77-77
                        ЗВОНОК БЕСПЛАТНЫЙ
                        <p>
                            Доставка музыкальных инструментов <br/>
                            • Курьером до дома или офиса<br/>
                            • До пункта выдачи или терминала транспортной компании<br/>
                        </p>

                        <p>
                            Если вы нашли, где купить музыкальные инструменты по более низкой цене — мы сделаем скидку.
                            Обнаружили брак или недовольны качеством — без заминок вернём деньги. С 2013 года мы продаём
                            музыкальные инструменты в кредит. Наш партнер «Ренессанс-кредит» рассматривает заявку за 5
                            минут и отправляет к вам курьера чтобы подписать бумаги.
                        </p>

                        <p>
                            Доставляем товар по всей территории России. Возим в Беларусь и Казахстан. Собираем посылку в
                            день
                            подтверждения заказа. При заказе от 7000 руб — привезём бесплатно. Перед отправкой мы
                            тщательно
                            проверяем и дополнительно упаковываем каждый товар, чтобы обеспечить его сохранность в пути.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}